.ui-tabs-nav li a span {
background:#8EBDDC none repeat scroll 0;
color:#07273E;
border:1px solid #328AB2;
}

.ui-tabs-nav li a:hover span {
color:#D54E21;
border:1px solid #328AB2;
background-color:#A6D2E5!important;
}
