#poststuff .postarea  {
margin-left:0px;
margin-right:0px;
}
#plaintext {
margin-left:0px !important;
margin-right:0px !important;
}


#view {
font-size-adjust:none;
font-style:normal;
font-variant:normal;
line-height:normal;
font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
border:none;
font-size:14px;
font-weight:normal;
padding:5px;
text-decoration:none;
background-color:#EBEBEB;
color:#264761;
margin:1px;
}

input#view.submit:hover  {
color:#D54E21;
cursor:pointer;
}

.form-table th {
width:50px;
}