.form-table td.nombp, .form-table th.nombp {
	border:none;
	padding:0;
	margin:0;
}
.form-table th {
	width:50px;
}
.form-table {
	margin-top:0;
}
#fromtodiv {
	margin-bottom:10px;
}
th.from {
	color:#c0c0c0;
	vertical-align:middle;
}
input.w90 {
	width:90%;
}
/*
input.fromto, select.fromto {
	border-color:#DFDFDF;
}
*/
input.TO, select.TO {
	border-color:#f00;
}
#titlediv {
	margin-bottom:10px;
}
#plaintext {
	height:10em;
	margin:0;
	width:98%;
}
#view {
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	line-height:normal;
	font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border:none;
	font-size:14px;
	font-weight:normal;
	padding:5px;	
	text-decoration:none;
	background-color:#EBEBEB;
	color:#264761;
	margin:1px;
}
input#view.submit:hover  {
	color:#D54E21;
	cursor:pointer;
}